* {
    font-family: 'Montserrat', sans-serif;
}

.primary-bg-color {
    background-color: #E7E7D7;
    color: #26051B;
}

.secondary-bg-color{
    background-color: #26051B;
}

i.bi{
    color: #E7E7D7;
    font-size: 1.2rem;
}

header.barraSuperior {
    background-color: #591233;
}

.logos {
    height: 80px;
}

.sombraImagem{
    -webkit-filter: drop-shadow(0px 0px 20px rgba(250 250 250/ 0.327)); 
    filter: drop-shadow(0px 0px 20px rgba(250, 250, 250, 0.327));
}
.fotoLegenda a{
    text-decoration: none;
    color: #a52151;
}

figure.vistaCatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.search:hover {
    background-color: #26051B;
    color: #E7E7D7;
}

#bottom-navbar a{
    color: #E7E7D7;
}

.sobreCopa{
    text-align: justify;
}

.imgCatar{
    border-radius: 2rem;
    padding: 0px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.562);
}

h1, h2{
    color: #731638;
}

.copa2022{
    height: 250px;
}

#estadios{
    background-color: #26051B;
}

#estadios-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #591233;
}

#estadios h2{
    color: #E7E7D7;
}

.cardEstadios, 
.cardEstadios ul li{
    background-color: transparent;
    color: #E7E7D7;
}

.cardEstadios img{
    height: 160px;
}

.cardEstadios ul li{
    border: none;
    border-bottom: 1px solid #E7E7D7;
}

#estadios .col-md-4{
    padding: 0;
}

#estadios .card img{   
    margin: 2em auto;
}

#banners-container{
    padding: 0;
}

.carousel-caption p{
    font-size: 0.8em;
}

@media (min-width: 768px){
    #slider .carousel-item, #slider img{
        height: 600px;
    }

    .carousel-caption{
        left: 23%;
        right: 23%;
    }
}

#tabelaCopa h2,
#tabelaCopa h5{
    color: #E7E7D7;
}

.copy-container{
    text-align: center;
    padding-top: 30px;
}

.copy-container a{
    color: #a52151;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.copy-container a:hover{
    color: #26051B;
}

#nav-footer{
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

#nav-footer li i{
    color: #731638;
}

.mini-card-1{
    background-color: #E7E7D7;
    border-radius: 15px;    
    width: 15em;
}

.nomeGrupo{
    text-align: center;
    color: #591233;
    font-weight: bold;
    border-bottom: 1px solid #26051B;
}

.mini-card-1 li,
.mini-card-2 li,
.mini-card-sm li,
.mini-card-sm-quartas li{
    background-color: transparent;
    border: none;
    text-align: justify;
}

img.bandeiras{
    width: 4em;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.459);
    border-radius: 5px;
}

.mini-card-1 .nomePais,
.mini-card-2 .chaveamento{
    color: #731638;
    font-size: 1.1em;
    font-weight: bold;
}

.mini-card-2{    
    background-color: #E7E7D7;
    border-radius: 15px; 
    width: 22em;
}

i.chave{
    color: #26051B;
    font-size: 1.5em;
}

.dataJogo{
    color: #731638;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 1px solid #26051B;
}

.jogoChave{
    color: #731638;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.mini-card-sm,
.mini-card-sm-quartas{
    background-color: #E7E7D7;
    border-radius: 15px;    
    width: 20em;
}

.mini-card-sm-quartas{    
    width: 13.5em;
}

.jogoQuartas{
    color: #731638;
    font-weight: bold;
}

.mini-card-final{
    background-color: #E7E7D7;
    border-radius: 15px;
}

.mini-card-final li{
    background-color: transparent;
    border: none;
}

.alinhando{
    display: flex;
    justify-content: center;
    align-items: center;
}

img.mascote{
    width: 70%;
}


img.bandeiraChave{
    width: 2.5em;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.459);
    border-radius: 5px;
}

span.fonte{
    color: #591233;
    font-size: 1.3em;
    font-weight: bold;
}

.listaPodio{
    background-color: #26051B;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.856);
}

.listaPodio li{
    background-color: transparent;
    border: none;    
    color: #E7E7D7;
}

span img.img-podio1{
    width: 2.3em;
    box-shadow: 1px 2px 8px #daa520cb;
}

span img.img-podio1{
    width: 2.3em;
    box-shadow: 1px 2px 8px #daa520cb;
}

.podio1{
    text-shadow: 1px 2px 8px #daa520cb;
    font-size: 1.5em;
    font-weight: bold;
}

#primeiro-lugar{
    font-size: 1.1em;
    color: #b8860e;
    text-shadow: none;
}

span img.img-podio2{
    width: 2.3em;
    box-shadow: 1px 2px 8px #c0c0c0;
}

.podio2{
    text-shadow: 1px 2px 8px #c0c0c0;
    font-size: 1.5em;
    font-weight: bold;
}

#segundo-lugar{
    font-size: 1.1em;
    color: #c0c0c0;
    text-shadow: none;
}

span img.img-podio3{
    width: 2.3em;
    box-shadow: 1px 2px 8px #945d41;
}

.podio3{
    text-shadow: 1px 2px 8px #945d41;
    font-size: 1.5em;
    font-weight: bold;
}

#terceiro-lugar{
    font-size: 1.1em;
    color: #945d41;
    text-shadow: none;
}

#galeria-campeoes h2{
    color: #E7E7D7;
}

h5 i.trofeu,
.card-campeao p{
    color: #591233;
    font-size: 1.2em;
}

.card-campeao{
    background-color: #E7E7D7;
}

.pais-nome{
    color: #591233;
    font-weight: bold;
}

img.bandeira-card{
    border-radius: 25px;
}